@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #0f172a;
  color: #e2e8f0;
}

pre { background:#0b1220; color:#e6eef8; padding:1rem; border-radius:6px; overflow:auto }
